.App {
  height: 100vh;
}
.head {
  height: 25vh;
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}
#blob {
  z-index: -2;
  background-color: white;
  height: 25rem;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, #150050, #10003b);
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(8rem);
}

/* .blur {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5rem);
} */
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  /* font-size: 3rem; */
  font-size: 3.75vw;
  z-index: 6;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.desc {
  z-index: 6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  /* font-size: 1.5rem; */
  font-size: 1.875vw;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-weight: 400;
}
.board {
  z-index: 6;

  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.box {
  /* height: 6rem;
  width: 6rem; */
  height: 7.55vw;
  width: 7.55vw;
  /* font-size: 3rem; */
  font-size: 3.75vw;
  border-radius: 2.5rem;
  background-color: #150050;
  border: 1px solid black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.x {
  background-color: #3f0071;
}
.o {
  background-color: #fb2576;
}
.result-container {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.result {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  /* font-size: 1.5rem; */
  font-size: 1.875vw;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-weight: 400;
}
.reset {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* font-size: 1.5rem; */
  font-size: 1.875vw;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #150050;
  border: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 2rem;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 7.5vw;
  }
  .desc {
    font-size: 4vw;
  }
  .box {
    height: 23vw;
    width: 23vw;
    font-size: 7vw;
  }
  .result {
    font-size: 4vw;
  }
  .reset {
    font-size: 4vw;
  }
}

@media screen and (max-width: 768px) and (min-width: 540px) {
  .title {
    font-size: 7.5vw;
  }
  .desc {
    font-size: 4vw;
  }
  .box {
    height: 14vw;
    width: 14vw;
    font-size: 7vw;
  }
  .result {
    font-size: 4vw;
  }
  .reset {
    font-size: 4vw;
  }
}
